<div class="aside emerge">
    <div class="aside__about">
        <h1>hey, i'm zhenya, a lead product designer at <a href='https://vmeste.ru/'>vmeste</a></h1>
    </div>
    <footer class="aside__contacts">
        <p class="aside__resume"><a href="{{ data.resume }}">cv, about</a></p>
        <ul class="aside__links">
            <li><a href="{{ data.social.telegram }}">telegram</a></li>
            <li><a href="{{ data.social.twitter }}">twitter</a></li>
            <li><a href="{{ data.social.instagram }}">instagram</a></li>
            <li><a href="{{ data.social.linkedin }}">linkedin</a></li>
            <li><a href="mailto:{{ data.email }}">{{ data.email }}</a></li>
        </ul>
    </footer>
</div>
