<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base target="_blank">

<title>{{ data.title }}</title>
<meta name="description" content="{{ data.description }}">

<meta property="og:site_name" content="{{ data.title }}">
<meta property="og:url" content="{{ data.url }}">
<meta property="og:type" content="">
<meta property="og:title" content="{{ data.title }}">
<meta property="og:description" content="{{ data.description }}">
<meta property="og:image" content="{{ data.og-image }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ data.url }}">
<meta name="twitter:creator" content="{{ data.title }}">
<meta name="twitter:title" content="{{ data.title }}">
<meta name="twitter:description" content="{{ data.description }}">
<meta name="twitter:image" content="{{ data.og-image }}">

<meta content="dark light" name="color-scheme">

<link rel="stylesheet" href="style.css">
<link rel="preload" href="fonts/suisse-regular.woff2" as="font" type="font/woff2" crossorigin="">

<link rel="icon" href="images/icon-32.png" sizes="any" media="(prefers-color-scheme: light)">
<link rel="icon" href="images/icon.svg" type="image/svg+xml" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png" media="(prefers-color-scheme: light)">

<link rel="icon" href="images/icon-dark-32.png" sizes="any" media="(prefers-color-scheme: dark)">
<link rel="icon" href="images/icon-dark.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" href="images/apple-touch-icon-dark.png" media="(prefers-color-scheme: dark)">

<link rel="manifest" href="manifest.json">

<script src="scripts/emerge.js"></script>
<script src="scripts/jquery-3.6.0.min.js"></script>
