#page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1512px;
    margin: 0 12px;
}

@media (max-width: 768px) {
    #page {
        grid-template-columns: 1fr !important;
        margin: 0;
    }
}
