---
layout: "base.njk"
---

{% for year, yearPosts in collections.postsByYear %}
    <div class="year">
        <h3 class="year__date">{{ year }}</h3>
        {% for post in yearPosts %}
            <article class="section">
                {% if post.data.project %}
                    <a href="{{ post.data.url }}" alt="{{ post.data.description }}" target="_blank">
                        <div class="section__slider lazyload" style="background-color: hsl({{ post.data.color }})">
                            <div class="slider">
                                <div class="slider__plug"></div>
                                <div class="slider__images">
                                    {% for i in range(0, post.data.frames) %}
                                        {% image "./src/projects/" + post.data.project + "/" + i + ".webp", post.data.description %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
                {{ post.templateContent | safe }}
            </article>
        {% endfor %}
    </div>
{% endfor %}
