<!DOCTYPE html>
<html lang="{{ data.lang }}">
<head>
    {% include "meta.njk" %}
</head>
<body>
    <div id="page">
        {% include "aside.njk" %}
        {% block main %}
            <main>
                {{ content | safe }}
            </main>
        {% endblock %}
    </div>
    <script src="scripts/slider.js"></script>
</body>
</html>
