<!DOCTYPE html>
<html lang="{{ data.lang }}">
<head>
    {% include "meta.njk" %}
</head>
<body>
    <div id="page">
        {% include "aside.njk" %}
        {% block main %}
            <main>
                {{ content | safe }}
            </main>
        {% endblock %}
    </div>
    <script src="scripts/slider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
</body>
</html>
